.map-container {
  width: 100%;
  height: 600px; /* Set a fixed height to see if the container is visible */
  position: relative;
  background-color: lightgrey; /* Temporary background to see if the container is rendered */
}

.svg-container {
  width: 100%;
  height: 100%;
  display: block;
  border: black 1px solid; /* Temporary border to see if the container is rendered */
  background-color: white; /* Temporary background to check if the SVG is within the container */
}

.circuit-path {
  fill: none;
  stroke: black;  /* Ensure this is visible */
  stroke-width: 4; /* Make the stroke thicker */
}

