<div class="circuit-detail-container">
  <div class="drivers-acronyms" *ngIf="drivers.length > 0">
    <div *ngFor="let driver of drivers"
         class="driver-acronym"
         [style.background-color]="'#' + driver.team_colour"
         [class.selected]="driver === selectedDriver"
         (click)="selectDriver(driver)"
         [pTooltip]="driver.full_name"
         tooltipPosition="bottom">
      {{ driver.name_acronym }}
    </div>
  </div>
  <div class="circuit-container" #circuitContainer></div>

  <div class="details-container">
    <p *ngIf="maxLaps === null">Loading...</p>
    <div class="lap-controls" *ngIf="maxLaps !== null">
      <button class="lap-button" (click)="decrementLap()">-</button>
      <span class="lap-display">Lap: {{ currentLap }}/{{ maxLaps }}</span>
      <button class="lap-button" (click)="incrementLap()">+</button>
    </div>

    <div class="session-tabs">
      <ul>
        <li *ngFor="let session of sessions"
            (click)="onTabChange(session.session_key)"
            [class.selected]="session.session_key === selectedSessionKey">
          {{ session.session_name }}
        </li>
      </ul>
    </div>
  </div>
</div>
